@model NS.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "An error occured";
}

<div class="container">
    <div style="padding-top: 200px; text-align: center">
        @{
            if (Model == null)
            {
                <div>
                    <h2>Ouch! An error occurred, but don't worry. Our team will be advised and we will fix it soon!</h2>
                </div>
            }
            else
            {
                ViewData["Title"] = Model.Title;

                <div>
                    <h2>@Html.Raw(Model.Message)</h2>
                </div>

            }
        }
    </div>
</div>
