@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px"></div>

    <div class="alert alert-danger">
        <button type="button" class="btn-close" data-dismis="alert">x</button>
        <h3 id="msgRetorno" style="padding-top: 20px">Something went wrong :(</h3>
        <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}